<!-- <app-header></app-header> -->

<!-- <app-home></app-home> -->

<!-- <a routerLink="/products" style="text-decoration:none;color:rgb(6, 7, 7)">PRODUCTS</a> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->