
<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <!-- <div clhvvgass="header_menu_icon" >
        <mat-icon>menu</mat-icon>
        
  

      </div> -->
      <div class="header_menu_home">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>  --> 

        <span class="header_menu_home"><a routerLink="/home" style="text-decoration: none;"></a></span>
        
        <!-- <span class="header_menu_bottom_item">Accounts & Lists</span> -->
      </div>
      
      <!-- <img src="\assets\images\logo3.jpeg" class="header_menu_logo" alt="" style = "width : 350px " >
      <div class="header_menu_searchbar" style = "width : 100px">
        <input type="text" class="header_menu_input" style = "margin-left:-150px;height:40px;width:800px">
        <div class="header_menu_searchbar_icon" style = "height:40px">
          <mat-icon>search</mat-icon> -->
          <img src="\assets\images\logo3.jpg" class="header_menu_logo" alt="" style = "width : 350px" >
      <div class="header_menu_searchbar" style = "width : 100px">
        <input type="text" class="header_menu_input" style = "margin-left:-150px;height : 40px;width : 800px;font-size:20px">
        <div class="header_menu_searchbar_icon" style = "height:40px">
          <mat-icon>search</mat-icon>

          
        </div>
      </div> 
      <div class="header_menu_signin">
        <span class="header_menu_top_item"><a routerLink="/login" style="text-decoration: none;color:rgb(183, 197, 58)">Sign in</a></span>
        <span class="header_menu_top_item"><a routerLink="/register" style="text-decoration: none;color:rgb(165, 199, 73)" >Register</a></span>
        <!-- <span class="header_menu_bottom_item">Accounts & Lists</span> -->
      </div>

      <!-- <div class="header_menu_signin">
        <span class="header_menu_top_item">Returns</span>
        <span class="header_menu_bottom_item">& Orders</span>
       </div> -->
      <div class="header_menu_cart">
        <mat-icon>shopping_cart</mat-icon>
       
         <!-- <p class="header_cart_number">{{shoppingCart.getCartLength()}}</p> -->
        <p class="header_cart_number"></p>
      </div> 
    

  </div>

  </nav>
  <!-- <nav class="header_bottom">
  <div class="header_bottom_location_text">
    <span class="header_left_line_one">Delivery to </span>
    <span class="header_left_line_two"> <strong>Banglore</strong></span>
    </div>
    </nav>
 -->
  </div>

