/* .header{
   
  position:fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.header_menu_home{
    
    height: 20px;
    width:40px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_top{
    height: 80px;
    background-color:rgb(5, 4, 5);
    font-size: 104px;
    display: flex;
    color: white;
    padding-right:8px;
    padding-bottom: 8px;
}
.header_menu{
    display: flex;
    padding: 10px 8px 8px 8px;
    width: 100%;
    height : 10%;
}
.header_menu > div{
    margin: 8px;
}

    
    


.header_menu_searchbar{
    display: flex;
    margin-top: 1px;
    height: 100px;
    width : 20px;
    justify-content: center;
    flex: 1;
}
.header_menu_input{
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_menu_searchbar_icon{
    background-color: rgb(90, 169, 205);
    height: 20px;
    width:40px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_menu_logo{
    object-fit: contain;
    height : 70px;
    top : 30px;
    left :2px;
}
.header_menu_signin{
    display: flex;
    flex-direction: column;
    color: black;
}
.header_menu_top_item{
    color: lightgray;
    font-weight: 900;
    font-size: 13px;
}
.header_menu_bottom_item{
    font-size: 13px;
    font-weight: 900;
}
.header_menu_cart{
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
    height: 50px;
    justify-content: space-around;
    color: slateblue;
}
.header_cart_number{
    color: slateblue;
    font-size: 25px;
    font-weight: 800;

}
 .header_bottom{
    height: 49px;
    background-image: none;
    background-color: slateblue;
     padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 8px;
    font-size: 12px;
} 
 .header_bottom_location_text{
    color: white;
    display: flex;
    flex-direction: column;
}  */
.header{
    /* //we can do this later */
  position:fixed;
  z-index: 100;
  top: 0;
  left:0;
  right:0;
}
.header_top{
    height: 80px;
    background-color: rgb(0, 0, 0);
    font-size: 104px;
    display: flex;
    color: white;
    padding-right:8px;
    padding-bottom: 8px;
}
.header_menu{
    display: flex;
    padding: 10px 8px 8px 8px;
    width: 100%;
    height : 10%;
}
.header_menu > div{
    margin: 8px;
}
/* .header_menu_icon > mat-icon{
    top : 30px;
    left :0px;
    font-size: 30px;
    align-items: center;
    
    

} */
.header_menu_searchbar{
    display: flex;
    margin-top: 1px;
    height: 100px;
    width : 20px;
    justify-content: center;
    flex: 1;
}
.header_menu_input{
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_menu_searchbar_icon{
    background-color: rgb(248, 223, 0);
    height: 20px;
    width:40px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_menu_logo{
    object-fit: contain;
    height : 70px;
    top : 30px;
    left :2px;
}
.header_menu_signin{
    display: flex;
    flex-direction: column;
}
.header_menu_top_item{
    color: lightgray;
    font-weight: 900;
    font-size: 13px;
}
.header_menu_bottom_item{
    font-size: 13px;
    font-weight: 900;
}
.header_menu_cart{
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
    height: 50px;
    justify-content: space-around;
}
.header_cart_number{
    color: rgb(248, 223, 0);
    font-size: 25px;
    font-weight: 800;

}
 .header_bottom{
    height: 49px;
    background-image: none;
    background-color:rgb(248, 223, 0);
     padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 8px;
    font-size: 12px;
} 
 .header_bottom_location_text{
    color: white;
    display: flex;
    flex-direction: column;
} 